:root {
    --header-height : 120px;
    --nav-height: 36px;
    --search-height: calc(var(--header-height) - var(--nav-height));
    --color-pri: rgb(234,73,74);
    --color: rgb(72,41,45);
    --yelo-color: rgb(244,181,63);
    --bg-color:rgb(240,234,218);
    --text-color:rgb(106,82,97);
    --head-color: #48292d ;
}
* {
box-sizing: inherit;
-webkit-tap-highlight-color: transparent;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size:62.5%;
    line-height: 1.6rem;
    font-family: "gstatic",sans-serif;
    box-sizing: border-box;
   background-color: var(--bg-color);   
}
.header .grid-lay {
    max-width: calc(100% - 20px);
}
.grid__full-width {
    width: 100%;
}
.grid-lay {
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
 }
/* test */
.grid__column2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__column2-4 {
    padding-left: 5px; 
    padding-right: 5px;
    width: 20%;

}


.grid__column33 {
    padding-left: 5px;
    padding-right: 5px;
    width:33.333333%
}
.grid__column10 {
   
    padding-left: 5px;
    padding-right: 5px;
    width:83.3334%;
}
/* sign btn */
.sign button {
    font-size: 2rem;
    padding: 11.5px 14px;
    line-height: 17px;
    border-radius: 10px;
}
.sign-in {
}
.sign-up {
    background-color: var(--yelo-color);
}
.sign-up:hover {
    opacity: 0.8;
}
/* modal */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    animation: fadeIn  linear 0.2s;
    z-index: 3;
    /* display: none; */
}

.modal-lay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
 }

.modal-body {
    width: 600px;
    background-color: var(--bg-color);
    border-radius: 10px;
    animation: grow linear 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 60px;
    position: relative;
 }
 .close-form {
    position: absolute;
    top: 0;
    right: -30px;
    font-size: 3.3rem;
    text-shadow: 1px 1px 16px #fff;
    filter: brightness(0) saturate(100%) invert(42%) sepia(67%) saturate(3297%) hue-rotate(330deg) brightness(90%) contrast(105%);
    cursor: pointer;   
 }
.sign-in-img {
    width: 200px;
    height: unset;
    user-select: none;
    cursor: pointer;
 }

.modal-signIn-title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 40px;
    color: var(--color-pri);
    margin-top: 20px;
    letter-spacing: 1px;
}
.modal-signIn-para {
    font-size: 1.6rem;
    color: #928f8f;
    width: 90%;
    text-align: center;
    margin: 20px 0 30px;
    line-height: 22px;
}
.form {
    width: 100%;
} 
.group-form {
    width: 100%;
    margin-bottom: 12px;
}
.form-text-input {
    border-radius: 10px;
    border: 1px solid rgb(23, 187, 241);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    position: relative;
}
.form-text-input img {
    position: absolute;
    right: 10px;
}
.form-input {
    height: 100%;
    width: 100% ;
    font-size: 2rem;
    padding: 0 10px;
    outline: none;
    border-radius: 10px;
    font-weight: 500;
} 
.form-input::placeholder {
    font-size: 1.8rem;
} 

.group-form:has(.form-input:invalid:not(:placeholder-shown)) .form-text-input{
    border-color: #ed4337;
} 
.group-form:has(.form-input:invalid:not(:placeholder-shown)) .form-text-input .img-mess {
    display: none;
}
.group-form:has(.form-input:invalid:not(:placeholder-shown)) .form-text-input .img-err,
.group-form:has(.form-input:invalid:not(:placeholder-shown)) .form-err {
    display: block;
}
/* .form .group-form:has(:invalid):has(.form-input:invalid) .form-err{ 
    display: block;

} */

.form-err {
    display: none;   
    color: #ed4337;
    font-size: 1.4rem;
    margin-top: 6px;
    animation: fadeIn linear 0.2s;
}
.img-err {
    display: none;
    animation: shake linear 0.4s;
}    
.form-check {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.form-check label {
    font-size: 1.6rem;
    color: #888;
    display: flex;
    align-items: center;
    position: relative;
    gap: 8px;
    cursor: pointer;
    user-select: none;
}
.forgot-pass {
    font-size: 1.6rem;
    color: #0071dc;
}
.form-check label::before {
    content: "";
    display: inline-block;
    width: 19px;
    height: 19px;
    border-radius: 4px;
    border: 1px solid #9e9da8; 
    background-color: #fff;
}
.form-check label::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 8px;
    border: 3px solid;
    border-color: transparent transparent #fff #fff;
    rotate: -45deg;
    top: 5.5px;
    left: 2px;
}
#checked-label:checked + label::before{
    background-color: var(--yelo-color);
} 
#checked-label-sign-up:checked + label::before {
    background-color: var(--yelo-color);
}
.btn-sign-in {
    background-color: var(--yelo-color);
    width: 100%;
    height: 40px;
    font-size: 1.8rem;
    border-radius: 8px;
    margin-top: 16px;
    /* user-select: none;
    opacity: 0.8;   */
}
.group-form:has(.form-input:invalid) ~ .btn-sign-in {
    user-select: none;
    opacity: 0.8;  
    pointer-events: none;

}
.signIn-gg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;    
    margin: 16px 0 26px;
    border: 1px solid #d2d1d6;
    border-radius: 8px;
    cursor: pointer;
    gap: 6px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.gg-desc {
    font-size: 1.8rem;
    font-weight: 500;
}
.dont-SignIn, .dont-SignUp {
    font-size: 1.8rem;
    font-weight: 500;
    color: #928f8f;
    padding: 0 0 10px 0;
}
.dont-SignIn a,
.dont-SignUp a {
    color: #0071dc;
}
/* none modal sign in */
.modal-sign-in {
    display: none;
}
/* animation */
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
 }
 @keyframes fadeIn2 {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
 }
 @keyframes growths {
    from {
        opacity: 0;
       transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
 }
 @keyframes grow {
    from {
        opacity: 0;
       transform: translateY(-70%)
    }
    to {
        opacity: 1;
        transform:translateY(0)
    }
 }

 @keyframes shake {
    0%,100% {
         translate: 0;
    }
     25%, 75%{
     translate: 4px;
     }
     50%{
         translate: -4px;
     }
 }










































