.head-menu {
    margin: 90px 0 35px 0;
    width: 100%;
    background-color: var(--yelo-color);
    padding: 12px 24px;
    cursor: default;
}
.body-head-menu {
    border: 2px solid #fff;
    border-radius: 40px;
    height: 100%;   
    display: flex;
flex-direction: column;
align-items: center;
}
.body-head-menu-head {
    font-size: 8.5rem;
    font-weight: 900;
    line-height: 90px;
    margin: 0;
    color: rgb(72,41,45);
    margin: 12px 0;
}
.body-head-menu-para {
    font-size: 1.8rem;
    margin-bottom: 18px;
}
.body-head-menu-container {
    display: flex;
    grid-column-gap: 100px;
    justify-content: space-between;
    

}
.head-menu-container-item {
    display: flex ;
    align-items: center;
    margin-bottom: 28px;

}
.vegetarian-pri-icon {
    width: 95px !important;
    height: 35px !important;
}
.head-menu-container-text {
    font-size: 1.8rem;
    margin-left: 12px;
    font-weight: 900;

}
/* menu-choise */
.choise-menu {
    
height: 80px;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
position: sticky;
top: 100px;
margin-bottom: 35px;
z-index: 1;

}
.choise-menu-selector {
    width: 52%;
    height: 100%;
    background-color: rgb(72,41,45);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    max-width: 800px;
}
.choise-menu-pri {
    text-decoration: none;
    
    color: var(--bg-color);
    font-size: 2.2rem;
    background-color: rgb(72,41,45);
    border-radius: 40px;
    border: 2px solid var(--bg-color);
    padding: 16px 22px;
}
.choise-menu-pri:hover {
    cursor: pointer;
    border-color: var(--yelo-color);
    color: var(--yelo-color);

}
.choise-menu-selector-link {
    text-decoration: none;
    color: var(--bg-color);
}


.choise-takeout-link {
color: var(--bg-color) !important;
text-decoration: none;
display: flex;
}
/* body menu-container */
.grid__row-pri-menu-body {
    margin-left: -9px;
    margin-right: -9px;
}
.row-pri-menu-item {
    display: flex;
    /* grid-column-gap: 18px; */
}
.grid-menu-item {
    background-color:#fff;
    border-radius: 30px;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    padding: 0 9px;
    margin-bottom: 20px;
}
.menu-container-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top:80% ;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: 2px solid;
    border-color: var(--yelo-color) var(--yelo-color) transparent var(--yelo-color);
}
.menu-container-text {
    width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
padding: 0 20px;
flex: 1;
background-color: #fff;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
border: 2px solid;
border-color: transparent var(--yelo-color) var(--yelo-color)  var(--yelo-color);
}
.menu-container-head {
    color: rgb(84,55,59);
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
    margin: 20px 0 10px 0;
    line-height: 40px;
}
.menu-container-para {
    color: #48292d;;
    font-size: 1.4rem;
    line-height: 14px;
    
}   
.menu-container-price {
    margin: 28px 0 30px;
font-size: 1.8rem;
line-height: 20px;
flex: 1;
position: relative;
width: 90px;

}
.menu-container-price::before {
    content: "";
    position: absolute;
    top: -10px;
    width: 90px;
    height: 1.5px;
    background-color: #48292d;
    left: 0;
    right: 0;
}
.footer-contact {
    margin-top: 50px;
}

.open-flex {
    display: flex;
}